@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --blue-genie: #6070ff;
  --white: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  color: var(--blue-genie);
  font-family: "Poppins", sans-serif;
}

header h1 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.hamburger {
  color: var(--blue-genie);
  font-size: 22px;
}
